

ul {
  list-style: outside none none;
}

.menu {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 10%;
  border-style: solid;
}

.navbar {
  width: 80%;
  margin: auto;
}

.projectImage {
  width: auto;
  height: 300px;
  pointer-events: none;
}

.unselected {
width: 800px;
height: 500px;
filter: blur(4px);
border-style: solid;
transform: scale(0.5);
display: inline-block;
margin-left: 130px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 200ms ease-in-out;
}

.selected {
    width: 800px;
  height: 500px;
  border-style: solid;
  z-index: 10;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 200ms ease-in-out;
}

.carousel {
  grid-template-columns: 500px 500px 500px;
  border-style: solid;
  height: 500px;
  display: grid;
  transition: all 300ms ease-in-out;
}




.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33%;
  height: 12px;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.description {
    pointer-events: none;

}






